<section class="foto-detail" *ngIf="foto">
<div class="row">

  <div class="col-sm-3" >
    <p *ngIf="foto.SIGNATURA"><strong>SIGNATURA:</strong> {{ foto.SIGNATURA }}</p>
    <p *ngIf="foto.ANO"><strong>A&Ntilde;O:</strong> {{ foto.ANO }}</p>
    <p *ngIf="foto.DESCRIPCION"><strong>DESCRIPCI&Oacute;N:</strong> {{ foto.DESCRIPCION }}</p>
    <p *ngIf="foto.AUTOR"><strong>AUTOR:</strong> {{ foto.AUTOR | autor }}</p>
    <p *ngIf="foto.PROCEDENCIA"><strong>PROCEDENCIA:</strong> {{ foto.PROCEDENCIA }}</p>
    <p *ngIf="foto.FORMATO"><strong>FORMATO:</strong> {{ foto.FORMATO }}</p>
    <p *ngIf="foto.TAMANO"><strong>TAMA&Ntilde;O:</strong> {{ foto.TAMANO }}</p>
    <p *ngIf="foto.LINK"><a [href]="foto.LINK" target="_blank">Link</a></p>
  </div>

  <div class="col-sm-9"><img src="{{ foto.IMAGEN }}" class="img-rounded" alt="{{ foto.DESCRIPCION }}" style="float:left">
  </div>

</div>
  <button *ngIf="loadedAsChild" class="btn btn-default" (click)="handleClick(foto.ANO)" data-dismiss="modal">Fotos del mismo año</button>
  <button class="btn btn-default" (click)="onBack()" data-dismiss="modal">Atr&aacute;s</button>
</section>
