.foto-detail {
  color: white;
  padding: 25px;
  background-color: darkslategray;
}
.foto-detail img {
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  float:right;
  width:95%;
}
.foto-detail a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: aquamarine;
}

