<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">[{{ title }}]</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['fotos']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Fotos</a></li>
        <li><a [routerLink]="['info']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Info</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Colecciones <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">1840-1939</a></li>
            <li><a href="#">1940-1949</a></li>
            <li><a href="#">1950-1959</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Otras colecciones</li>
            <li><a href="#">Batalla del Jarama</a></li>
            <li><a href="#">Arganda</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

