<div class="alert alert-success">
  {{title}}
</div>
<div class="row">
  <div class="col-md-1 col-sm-12 col-xs-12">Filtrar</div>
  <div class="col-md-2 col-sm-12 col-xs-12"><input  [(ngModel)]="filterText" type="text" name="filtro" title="filtro" class="form-control"/></div>
  <div class="col-md-2 col-sm-12 col-xs-12">Filtrado por: <span>{{filterText}}</span></div>
  <div class="col-md-7 col-sm-12 col-xs-12"></div>
</div>

<section *ngIf="fotos && fotos.length">

  <div class="container gal-container">

    <div *ngFor="let foto of fotosFiltradas; let i = index"   [ngClass]="(i%8===0 || i===0)?'col-md-8':'col-md-4'" class="col-sm-12 col-xs-12 gal-item">

      <div class="box">
          <button type="button" class="info1" (click)="popupInfo(foto.DESCRIPCION, foto.ANO)" aria-label="Info"><span aria-hidden="true">?</span></button>

        <a href="#" data-toggle="modal" [attr.data-target]="'#'+i">

          <img [src]="foto.IMAGEN" [alt]="foto.SIGNATURA" [title]="foto.DESCRIPCION" [style.padding.px]="fotoPadding"/>
        </a>

        <div class="modal fade" id="{{i}}" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <button type="button" class="close1" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">

                <app-fotos-detail [foto]="foto" (clicked)="handleChildClick($event)"></app-fotos-detail>

              </div>
              <hr/>
              <div class="col-md-12 description">

                <h4>{{foto.DESCRIPCION }} - {{foto.AUTOR | autor }} {{foto.ANO}}</h4>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

